@{
    ViewBag.Title = "Trang chủ";
}

@*<section class="banner">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner">
                        <div class="item active">
                            <img src="~/Content/Images/Temp/banner-vinhome-81.jpg" alt="Vinhomes Central Park">
                            <div class="header-text hidden-xs">
                                <div class="col-md-12 text-center">
                                    <h3><span>Vinhomes Central Park</span></h3>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!-- /carousel -->
            </div>
        </div>
    </div>
</section>
<section class="duan">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="title os-tuyendart w3danima">
                    <div class="fleft">
                        <h3 style="color: #062245;font-size: 19px;margin-top: 25px;">Dự án tiêu biểu</h3>
                    </div>
                    <div class="fright">
                        <ul id="filters" class="clearfix">
                            <li style="margin-right:10px;">@Html.ActionLink("Thiết kế và thi công", "GetProjectByType", "Project", new { type = (int)Portal.Infractructure.Utility.Define.ProjectType.DesignAndConstruction},null)</li>
                            <li style="margin-right:10px;">@Html.ActionLink("Dân dụng", "GetProjectByType", "Project", new { type = (int)Portal.Infractructure.Utility.Define.ProjectType.CivilEngineering }, null)</li>
                            <li style="margin-right:10px;">@Html.ActionLink("Công Nghiệp", "GetProjectByType", "Project", new { type = (int)Portal.Infractructure.Utility.Define.ProjectType.Industry }, null)</li>
                            <li style="margin-right:10px;">@Html.ActionLink("Hạ tầng", "GetProjectByType", "Project", new { type = (int)Portal.Infractructure.Utility.Define.ProjectType.Infrastructure }, null)</li>
                        </ul>
                    </div>
                    <br clear="all">
                </div>
            </div>
            <div class="col-xs-12">
                <div id="portfoliolist" class="owl-carousel owl-theme" style="opacity: 1; display: block;">
                    @foreach (var project in ViewBag.FeaturedProjects)
                    {
                        <div class="item">
                            <div class="portfolio-wrapper pic">
                                <a href="~/Project/ProjectDetails/@project.Id">
                                    <img class="pic-image" src=@project.CoverImage.ImagePath alt="The Landmark 81">
                                </a>
                                <div>
                                    <br>
                                    <div>
                                        <a href="~/Project/ProjectDetails/@project.Id" class="text-title" style="font-weight:bold;">@project.Name</a>
                                    </div>
                                    <div style="font-size:11px;">
                                        @project.Description
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</section>
<section class="new">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-8 col-md-8">

                <div class="col-xs-12 col-sm-12 col-md-12">
                    <div class="row" style="margin-top: -20px;">
                        <a href="http://www.coteccons.vn/thong-tin/">
                            <h1 class="page-heading"><span class="h-title" style="text-transform: uppercase;">Tin tức</span></h1>
                        </a>
                    </div>
                </div>
                <div class="clearfix">

                    <div class="col-xs-12 col-sm-12 col-md-6" id="col-l" style="height: 405px;">
                        <div class="row">

                            <div id="clientTestimonials" class="news os-tuyendart w3danima">
                                <div id="itm-news0" class="itm-news">
                                    <a href="http://www.coteccons.vn/coteccons-hoan-thanh-ket-cau-toa-thap-landmark-1-vuot-tien-do/"><img src="~/Content/Images/Temp/ctc-landmark1-catnoc-h3-655x437.jpg" alt=""></a>
                                    <a href="http://www.coteccons.vn/coteccons-hoan-thanh-ket-cau-toa-thap-landmark-1-vuot-tien-do/"><h2>Coteccons hoàn thành kết cấu tòa tháp Landmark 1 vượt tiến độ</h2></a>
                                    <div style="text-overflow: ellipsis; word-wrap: break-word; overflow: hidden; max-height: 3.6em; line-height: 1.8em; padding:0px 10px;">
                                        Ngày 06/09/2016, Coteccons đã tiến hành làm lễ cất nóc tòa tháp Landmark 1 thuộc Khu đô thị Vinhomes Central Park
                                    </div>
                                </div><div id="itm-news1" class="itm-news" style="display: none;">
                                    <a href="http://www.coteccons.vn/coteccons-to-chuc-cotecconss-night-voi-chu-de-giai-nhiet-mua-he/"><img src="~/Content/Images/Temp/ctc-coteccons-night-h8-655x437.jpg" alt=""></a>
                                    <a href="http://www.coteccons.vn/coteccons-to-chuc-cotecconss-night-voi-chu-de-giai-nhiet-mua-he/"><h2>Coteccons tổ chức Coteccons’ Night với chủ đề “Giải Nhiệt Mùa Hè”</h2></a>
                                    <div style="text-overflow: ellipsis; word-wrap: break-word; overflow: hidden; max-height: 3.6em; line-height: 1.8em; padding:0px 10px;">
                                        Tối 12/08/2016, Ban Lãnh Đạo Coteccons Group đã tổ chức buổi tiệc thân mật dành cho gần 800 CBNV đang làm việc tại các dự án miền Bắc tại TT Hội nghị Quốc Gia (Hà Nội).
                                    </div>
                                </div><div id="itm-news2" class="itm-news" style="display: none;">
                                    <a href="http://www.coteccons.vn/coteccons-lam-tong-thau-thiet-ke-va-thi-cong-du-an-panorama-nha-trang/"><img src="~/Content/Images/Temp/ctc_panorama_kyket_h1-658x437.jpg" alt=""></a>
                                    <a href="http://www.coteccons.vn/coteccons-lam-tong-thau-thiet-ke-va-thi-cong-du-an-panorama-nha-trang/"><h2>Coteccons làm Tổng thầu Thiết kế và Thi công dự án Panorama Nha Trang</h2></a>
                                    <div style="text-overflow: ellipsis; word-wrap: break-word; overflow: hidden; max-height: 3.6em; line-height: 1.8em; padding:0px 10px;">
                                        Sáng ngày 01/08/2016, Coteccons cùng Chủ đầu tư Công ty CP Đầu tư Xây dựng Vịnh Nha Trang tiến hành ký kết hợp đồng Tổng thầu Thiết kế và Thi công dự án Panorama Nha Trang.
                                    </div>
                                </div><div id="itm-news3" class="itm-news" style="display: none;">
                                    <a href="http://www.coteccons.vn/coteccons-duoc-binh-chon-vao-top-30-bao-cao-thuong-nien-tot-nhat-2016/"><img src="~/Content/Images/Temp/ctc_bctn_2016_h1-657x437.jpg" alt=""></a>
                                    <a href="http://www.coteccons.vn/coteccons-duoc-binh-chon-vao-top-30-bao-cao-thuong-nien-tot-nhat-2016/"><h2>Coteccons được bình chọn vào top 30 báo cáo thường niên tốt nhất 2016</h2></a>
                                    <div style="text-overflow: ellipsis; word-wrap: break-word; overflow: hidden; max-height: 3.6em; line-height: 1.8em; padding:0px 10px;">
                                        Lễ trao giải cuộc bình chọn Báo cáo thường niên tốt nhất do HOSE và Báo Đầu tư Chứng khoán phối hợp tổ chức ngày 29/07/2016, Coteccons tiếp tục được bình chọn là một trong 30 đơn vị có Báo cáo thường niên tốt nhất.
                                    </div>
                                </div><div id="itm-news4" class="itm-news" style="display: none;">
                                    <a href="http://www.coteccons.vn/coteccons-khoi-cong-du-an-truong-quoc-te-vinschool-va-trien-khai-thi-cong-co-dien-cho-3-thap-thuoc-du-an-vinhomes-central-park/"><img src="~/Content/Images/Temp/ctc_vinschool_khoicong_h2-655x437.jpg" alt=""></a>
                                    <a href="http://www.coteccons.vn/coteccons-khoi-cong-du-an-truong-quoc-te-vinschool-va-trien-khai-thi-cong-co-dien-cho-3-thap-thuoc-du-an-vinhomes-central-park/"><h2>Coteccons khởi công dự án trường quốc tế Vinschool và triển khai thi công cơ điện cho 3 tháp thuộc dự án Vinhomes Central Park</h2></a>
                                    <div style="text-overflow: ellipsis; word-wrap: break-word; overflow: hidden; max-height: 3.6em; line-height: 1.8em; padding:0px 10px;">
                                        Sáng ngày 25/07/2016 tại Vinhomes Central Park, Thành phố Hồ Chí Minh, Nhà thầu Coteccons cùng với Chủ đầu tư, Công ty QLXD Vincom 1 tổ chức Lễ cúng khởi công Trường quốc tế liên cấp Vinschool.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-6 " id="col-r">
                        <div class="row">

                            <div class="os-tuyendart w3danima">
                                <div class="tab-content">
                                    <div class="tab-pane active news_list" id="home">
                                        <div class="media">
                                            <div class="media-left">
                                                <a href="http://www.coteccons.vn/coteccons-hoan-thanh-ket-cau-toa-thap-landmark-1-vuot-tien-do/" onmouseover="Slidenews(0)" title="Coteccons hoàn thành kết cấu tòa tháp Landmark 1 vượt tiến độ">
                                                    <img class="media-object" src="~/Content/Images/Temp/ctc-landmark1-catnoc-h3-258x172.jpg" alt="">
                                                </a>
                                            </div>
                                            <div class="media-body my_max_line">
                                                <a href="http://www.coteccons.vn/coteccons-hoan-thanh-ket-cau-toa-thap-landmark-1-vuot-tien-do/" onmouseover="Slidenews(0)" title="Coteccons hoàn thành kết cấu tòa tháp Landmark 1 vượt tiến độ" class="new_title">Coteccons hoàn thành kết cấu tòa tháp Landmark 1 vượt tiến độ</a>
                                            </div>
                                        </div><div class="media">
                                            <div class="media-left">
                                                <a href="http://www.coteccons.vn/coteccons-to-chuc-cotecconss-night-voi-chu-de-giai-nhiet-mua-he/" onmouseover="Slidenews(1)" title="Coteccons tổ chức Coteccons’ Night với chủ đề “Giải Nhiệt Mùa Hè”">
                                                    <img class="media-object" src="~/Content/Images/Temp/ctc-coteccons-night-h8-258x172.jpg" alt="">
                                                </a>
                                            </div>
                                            <div class="media-body my_max_line">
                                                <a href="http://www.coteccons.vn/coteccons-to-chuc-cotecconss-night-voi-chu-de-giai-nhiet-mua-he/" onmouseover="Slidenews(1)" title="Coteccons tổ chức Coteccons’ Night với chủ đề “Giải Nhiệt Mùa Hè”" class="new_title">Coteccons tổ chức Coteccons’ Night với chủ đề “Giải Nhiệt Mùa Hè”</a>
                                            </div>
                                        </div><div class="media">
                                            <div class="media-left">
                                                <a href="http://www.coteccons.vn/coteccons-lam-tong-thau-thiet-ke-va-thi-cong-du-an-panorama-nha-trang/" onmouseover="Slidenews(2)" title="Coteccons làm Tổng thầu Thiết kế và Thi công dự án Panorama Nha Trang">
                                                    <img class="media-object" src="~/Content/Images/Temp/ctc_panorama_kyket_h1-259x172.jpg" alt="">
                                                </a>
                                            </div>
                                            <div class="media-body my_max_line">
                                                <a href="http://www.coteccons.vn/coteccons-lam-tong-thau-thiet-ke-va-thi-cong-du-an-panorama-nha-trang/" onmouseover="Slidenews(2)" title="Coteccons làm Tổng thầu Thiết kế và Thi công dự án Panorama Nha Trang" class="new_title">Coteccons làm Tổng thầu Thiết kế và Thi công dự án Panorama Nha Trang</a>
                                            </div>
                                        </div><div class="media">
                                            <div class="media-left">
                                                <a href="http://www.coteccons.vn/coteccons-duoc-binh-chon-vao-top-30-bao-cao-thuong-nien-tot-nhat-2016/" onmouseover="Slidenews(3)" title="Coteccons được bình chọn vào top 30 báo cáo thường niên tốt nhất 2016">
                                                    <img class="media-object" src="~/Content/Images/Temp/ctc_bctn_2016_h1-259x172.jpg" alt="">
                                                </a>
                                            </div>
                                            <div class="media-body my_max_line">
                                                <a href="http://www.coteccons.vn/coteccons-duoc-binh-chon-vao-top-30-bao-cao-thuong-nien-tot-nhat-2016/" onmouseover="Slidenews(3)" title="Coteccons được bình chọn vào top 30 báo cáo thường niên tốt nhất 2016" class="new_title">Coteccons được bình chọn vào top 30 báo cáo thường niên tốt nhất 2016</a>
                                            </div>
                                        </div><div class="media">
                                            <div class="media-left">
                                                <a href="http://www.coteccons.vn/coteccons-khoi-cong-du-an-truong-quoc-te-vinschool-va-trien-khai-thi-cong-co-dien-cho-3-thap-thuoc-du-an-vinhomes-central-park/" onmouseover="Slidenews(4)" title="Coteccons khởi công dự án trường quốc tế Vinschool và triển khai thi công cơ điện cho 3 tháp thuộc dự án Vinhomes Central Park">
                                                    <img class="media-object" src="~/Content/Images/Temp/ctc_vinschool_khoicong_h2-258x172.jpg" alt="">
                                                </a>
                                            </div>
                                            <div class="media-body my_max_line">
                                                <a href="http://www.coteccons.vn/coteccons-khoi-cong-du-an-truong-quoc-te-vinschool-va-trien-khai-thi-cong-co-dien-cho-3-thap-thuoc-du-an-vinhomes-central-park/" onmouseover="Slidenews(4)" title="Coteccons khởi công dự án trường quốc tế Vinschool và triển khai thi công cơ điện cho 3 tháp thuộc dự án Vinhomes Central Park" class="new_title">Coteccons khởi công dự án trường quốc tế Vinschool và triển khai thi công cơ điện cho 3 tháp thuộc dự án Vinhomes Central Park</a>
                                            </div>
                                        </div>                                            <a class="xemtatca pull-right" style="padding-top: 5px;" href="http://www.coteccons.vn/thong-tin/">» Xem tất cả</a>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--.news-->

                <hr style="padding-bottom:0px;margin-bottom: 0px;">
                <div class="row">
                    <h3 class="text-center text-uppercase os-tuyendart w3danima"><p>Lĩnh vực hoạt động</p></h3>
                    <div id="owl-demo" class="owl-carousel os-tuyendart owl-theme w3danima" style="opacity: 1; display: block;">
                        <div class="owl-wrapper-outer">
                            <div class="owl-wrapper" style="width: 2600px; left: 0px; display: block;">
                                <div class="owl-item" style="width: 260px;">
                                    <div class="item col-xs-12">
                                        <div class="bord">
                                            <div class="pic">
                                                <a href="http://www.coteccons.vn/coteccons-gia-tri-vuot-troi-cua-mot-tong-thau/">
                                                    <img class="pic-image" src="~/Content/Images/Temp/Tong-thau1-services.jpg" alt="">
                                                </a>
                                            </div>
                                            <div class="info">
                                                <h4 style="padding: 0px; margin: 10px 0px;">Tổng thầu xây lắp</h4>
                                            </div>
                                        </div>
                                    </div>
                                </div><div class="owl-item" style="width: 260px;">
                                    <div class="item col-xs-12">
                                        <div class="bord">
                                            <div class="pic">
                                                <a href="http://www.coteccons.vn/coteccons-su-tai-tinh-cua-thiet-ke-va-thi-cong/">
                                                    <img class="pic-image" src="~/Content/Images/Temp/design-build.jpg" alt="">
                                                </a>
                                            </div>
                                            <div class="info">
                                                <h4 style="padding: 0px; margin: 10px 0px;">Thiết kế và Thi công</h4>
                                            </div>
                                        </div>
                                    </div>
                                </div><div class="owl-item" style="width: 260px;">
                                    <div class="item col-xs-12">
                                        <div class="bord">
                                            <div class="pic">
                                                <a href="http://www.coteccons.vn/noi-that/">
                                                    <img class="pic-image" src="~/Content/Images/Temp/Noi-that-Service-330x220.jpg" alt="">
                                                </a>
                                            </div>
                                            <div class="info">
                                                <h4 style="padding: 0px; margin: 10px 0px;">Nội Thất</h4>
                                            </div>
                                        </div>
                                    </div>
                                </div><div class="owl-item" style="width: 260px;">
                                    <div class="item col-xs-12">
                                        <div class="bord">
                                            <div class="pic">
                                                <a href="http://www.coteccons.vn/">
                                                    <img class="pic-image" src="~/Content/Images/Temp/ha-tang.jpg" alt="">
                                                </a>
                                            </div>
                                            <div class="info">
                                                <h4 style="padding: 0px; margin: 10px 0px;">Hạ tầng</h4>
                                            </div>
                                        </div>
                                    </div>
                                </div><div class="owl-item" style="width: 260px;">
                                    <div class="item col-xs-12">
                                        <div class="bord">
                                            <div class="pic">
                                                <a href="http://www.coteccons.vn/linh-vuc-co-dien-mep/">
                                                    <img class="pic-image" src="~/Content/Images/Temp/m-e-300x195.jpg" alt="">
                                                </a>
                                            </div>
                                            <div class="info">
                                                <h4 style="padding: 0px; margin: 10px 0px;">Cơ điện</h4>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>                        <div class="owl-controls clickable"><div class="owl-pagination"><div class="owl-page active"><span class=""></span></div><div class="owl-page"><span class=""></span></div></div></div>
                    </div>
                </div><!-- .linhvuchoatdong-->
            </div> <!-- .column left-->

            <div class="col-xs-12 col-sm-4 col-md-4">

                <div class="box">
                    <div class="title title-bg clearfix os-tuyendart w3danima">
                        <h3>Hợp tác cùng CotecCons</h3>
                    </div>
                    <div>
                        <div class="media pad15"><div class="media-left"><a href="http://www.coteccons.vn/#" data-toggle="modal" data-target="#videoModal" data-thevideo="http://www.youtube.com/embed/GkZsYZPH9TE"> <img class="media-object" style="width: auto;" src="~/Content/Images/icon3_3.png" alt="..."> </a></div><div class="media-body"><p>Thương hiệu Coteccons giờ đây đã trở thành bảo chứng chất lượng cho những công trình mang đẳng cấp quốc tế. Nhấp chuột vào link liên kết để tham gia vào chuỗi cung ứng của CotecCons</p></div></div><div class="text-center button-link"><a class="btn btn-primary" href="http://www.coteccons.vn/thong-tin-nang-luc/">Giới thiệu Năng lực</a> <a class="btn btn-primary" style="width: 148px;" href="http://www.coteccons.vn/gop-y/">Góp ý</a></div><div class="text-center"><table border="0" width="95%"><tbody><tr><td style="text-align: right;"><div style="font-size: 22px;"><a href="tel:0931106080">0931 106 080</a></div></td><td rowspan="2"><a href="tel:0931106080"><img class="hotline" src="~/Content/Images/icon-hotline.jpg" alt=""></a></td></tr><tr><td style="text-align: right;"><div style="font-size: 15px; color: #337ab7;">HOTLINE</div></td></tr></tbody></table></div>
                    </div>
                </div>
                <div class="box custom-duan">
                    <div class="title title-bg os-tuyendart w3danima">
                        <a href="http://www.coteccons.vn/du-an/" style="text-decoration: none;"><h3>Thông tin dự án</h3></a>
                    </div>
                    @foreach (var project in ViewBag.FeaturedProjects)
                    {
                        <div class="media">
                            <div class="media-left">
                                <a href="~/Project/ProjectDetails/@project.Id">
                                    <img class="media-object" src=@project.CoverImage.ImagePath alt="">
                                </a>
                            </div>
                            <div class="media-body">
                                <a href="~/Project/ProjectDetails/@project.Id">@project.Name</a>
                                <div><p>@project.Address</p></div>
                            </div>
                        </div>
                    }
                </div>
            </div>
            <!-- left col-md-4-->
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-4 col-md-4">
                <div class="title os-tuyendart w3danima">
                    <div class="fleft">
                        <a href="http://www.coteccons.vn/quan-he-co-dong/thong-tin-co-dong/" style="text-decoration: none;">
                            <h3 style="color:#062245;">Thông tin cổ đông</h3>
                        </a>
                    </div>
                    <br clear="all">
                </div>
                <div class="media">
                    <div class="media-left">
                        <a href="http://www.coteccons.vn/giay-chung-nhan-dang-ky-chung-khoan-thay-doi-lan-7/">
                            <img class="media-object" src="~/Content/Images/Temp/102-2009-GCNCP-VSD-7-259x172.jpg" alt="">
                        </a>
                    </div>
                    <div class="media-body">
                        <a href="http://www.coteccons.vn/giay-chung-nhan-dang-ky-chung-khoan-thay-doi-lan-7/">Giấy chứng nhận đăng ký chứng khoán - Thay đổi lần 7</a>
                    </div>
                </div><div class="media">
                    <div class="media-left">
                        <a href="http://www.coteccons.vn/coteccons-nhan-giay-chung-nhan-dang-ky-doanh-nghiep-thay-doi-lan-thu-16/">
                            <img class="media-object" src="~/Content/Images/Temp/CTD_Giay_CNDKDN_lan_thu_16-271x172.jpg" alt="">
                        </a>
                    </div>
                    <div class="media-body">
                        <a href="http://www.coteccons.vn/coteccons-nhan-giay-chung-nhan-dang-ky-doanh-nghiep-thay-doi-lan-thu-16/">Coteccons nhận giấy Chứng nhận đăng ký doanh nghiệp – thay đổi lần thứ 16</a>
                    </div>
                </div><div class="media">
                    <div class="media-left">
                        <a href="http://www.coteccons.vn/cbtt-ve-viec-thay-doi-so-luong-co-phieu-co-quyen-bieu-quyet-luu-hanh/">
                            <img class="media-object" src="~/Content/Images/Temp/2293-2019-CV-BTC-COVER-278x172.jpg" alt="">
                        </a>
                    </div>
                    <div class="media-body">
                        <a href="http://www.coteccons.vn/cbtt-ve-viec-thay-doi-so-luong-co-phieu-co-quyen-bieu-quyet-luu-hanh/">CBTT về việc thay đổi số lượng cổ phiếu có quyền biểu quyết lưu hành</a>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4">
                <div class="title os-tuyendart w3danima">
                    <div class="fleft">
                        <a href="http://www.coteccons.vn/thong-tin/tin-thi-truong/" style="text-decoration: none;">
                            <h3 style="color:#062245;">Tin thị trường</h3>
                        </a>
                    </div>
                    <br clear="all">
                </div>
                <div class="media">
                    <div class="media-left">
                        <a href="http://www.coteccons.vn/tnr-holdings-viet-nam-va-moi-duyen-voi-cac-giai-thuong/">
                            <img class="media-object" src="~/Content/Images/Temp/20160622081135-943d-271x172.jpg" alt="">
                        </a>
                    </div>
                    <div class="media-body">
                        <a href="http://www.coteccons.vn/tnr-holdings-viet-nam-va-moi-duyen-voi-cac-giai-thuong/">TNR Holdings Việt Nam và mối “duyên” với các giải thưởng</a>
                    </div>
                </div><div class="media">
                    <div class="media-left">
                        <a href="http://www.coteccons.vn/doanh-nghiep-viet-thang-thau-nuoc-ngoai/">
                            <img class="media-object" src="~/Content/Images/Temp/pc_vinhomes_central_park-269x172.jpg" alt="">
                        </a>
                    </div>
                    <div class="media-body">
                        <a href="http://www.coteccons.vn/doanh-nghiep-viet-thang-thau-nuoc-ngoai/">Doanh nghiệp Việt thắng thầu nước ngoài</a>
                    </div>
                </div><div class="media">
                    <div class="media-left">
                        <a href="http://www.coteccons.vn/coteccons-va-cau-chuyen-sieu-du-an-the-landmark-81/">
                            <img class="media-object" src="~/Content/Images/Temp/blp0807_141711712-229x172.jpg" alt="">
                        </a>
                    </div>
                    <div class="media-body">
                        <a href="http://www.coteccons.vn/coteccons-va-cau-chuyen-sieu-du-an-the-landmark-81/">Coteccons và câu chuyện "siêu dự án" The Landmark 81</a>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4" style="padding-top: 8px;">
                <div class="title title-bg os-tuyendart w3danima">
                    <a href="http://www.coteccons.vn/tuyen-dung/" style="text-decoration: none;"><h3>Tuyển dụng</h3></a>
                </div>
                <div class="boxlink">
                    <ul>
                        <li>
                            » <a href="http://www.coteccons.vn/recruitment/ky-su-trac-dia/">Kỹ sư Trắc Địa</a>
                        </li>
                        <li>
                            » <a href="http://www.coteccons.vn/recruitment/nhan-vien-bim-khoi-co-dien/">Nhân viên BIM – Khối Cơ Điện</a>
                        </li>
                        <li>
                            » <a href="http://www.coteccons.vn/recruitment/giam-sat-me/">Giám sát M&amp;E</a>
                        </li>
                        <li>
                            » <a href="http://www.coteccons.vn/recruitment/giam-sat-thi-cong-xay-dung/">Giám sát thi công xây dựng</a>
                        </li>
                        <li>
                            » <a href="http://www.coteccons.vn/recruitment/nhan-vien-ke-toan/">Nhân viên kế toán</a>
                        </li>
                        <li>
                            » <a href="http://www.coteccons.vn/recruitment/chuyen-vien-an-toan/">Chuyên viên An toàn</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

    </div>
</section>
<div class="modal fade" id="videoModal" tabindex="-1" role="dialog" aria-labelledby="videoModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <div>
                    <iframe width="100%" height="350" src="~/Content/Images/Temp/saved_resource.html" frameborder="0" allowfullscreen=""></iframe>
                </div>
            </div>
        </div>
    </div>
</div>
<br clear="all">*@

<!--banner  start hwew-->
<div class="banner">
    <div class="container">
        <div class="banner-main wow zoomIn" data-wow-delay="0.3s">
            <h2>HOTEL</h2>
            <h6>Chào mừng quý khách đến với khách sạn chúng tôi</h6>
            <p>Chúng tôi rất hân hạnh được mang đến những giây phút tuyệt vời nhất trong kỳ nghỉ của quý khách</p>
        </div>
    </div>
</div>
<!--BANNER END HERE-->
<!--information start here-->
<div class="information">
    <div class="container">
        <div class="information-main">
            <div class="information-grid five-star wow slideInLeft" data-wow-delay="0.3s">
                <div class="col-md-4 hotel-info">
                    <div class="info-left">
                        <img src="~/Content/images/s1.png" alt="">
                    </div>
                    <div class="info-right">
                        <h4>Khách sạn chuẩn quốc tế</h4>
                        <p>Khách sạn đạt chuẩn 3 sao quốc tế.</p>
                    </div>
                    <div class="clearfix"> </div>
                </div>
                <div class="col-md-4 hotel-info">
                    <div class="info-left">
                        <img src="~/Content/images/s2.png" alt="">
                    </div>
                    <div class="info-right">
                        <h4>Dịch vụ</h4>
                        <p>Nghỉ dưỡng, spa, tour.</p>
                    </div>
                    <div class="clearfix"> </div>
                </div>
                <div class="col-md-4 hotel-info">
                    <div class="info-left">
                        <img src="~/Content/images/s4.png" alt="">
                    </div>
                    <div class="info-right">
                        <h4>An toàn</h4>
                        <p>Đảm bảo an toàn tuyệt đối giúp quý khách yên tâm tận hưởng kỳ nghỉ.</p>
                    </div>
                    <div class="clearfix"> </div>
                </div>
                <div class="clearfix"> </div>
            </div>
            <div class="information-grid wow slideInRight" data-wow-delay="0.3s">
                <div class="col-md-4 hotel-info">
                    <div class="info-left">
                        <img src="~/Content/images/s3.png" alt="">
                    </div>
                    <div class="info-right">
                        <h4>Thức ăn</h4>
                        <p>Đặc sản, sạch, tươi, ngon.</p>
                    </div>
                    <div class="clearfix"> </div>
                </div>
                <div class="col-md-4 hotel-info">
                    <div class="info-left">
                        <img src="~/Content/images/s5.png" alt="">
                    </div>
                    <div class="info-right">
                        <h4>Khách sạn</h4>
                        <p>Tầm nhìn đẹp, sát biển, không gian rộng rãi thoáng mát, đầy đủ các tiện nghi.</p>
                    </div>
                    <div class="clearfix"> </div>
                </div>
                <div class="col-md-4 hotel-info">
                    <div class="info-left">
                        <img src="~/Content/images/location_icon.png" alt="">
                    </div>
                    <div class="info-right">
                        <h4>Vị trí</h4>
                        <p>Cách sân bay 4km, cách biển 500m, nằm ở khu trung tâm du lịch mua sắm của Đà Nẵng</p>
                    </div>
                    <div class="clearfix"> </div>
                </div>
                <div class="clearfix"> </div>
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
</div>
<!--information end here-->
<!--branches start here-->
<div class="branches">
    <div class="branches-main wow zoomIn" data-wow-delay="0.3s">
        <div class="branches-top">
            <h3>Hình ảnh khách sạn</h3>
        </div>
        <div id="effect-5" class="branch-btm">
            <div class="col-md-3 branch-gd-main">
                <div class="branch-gd  no-mar">
                    <a href="~/Content/images/HotelImages/IMG_2629.jpg" rel="title" class="b-link-stripe b-animate-go  thickbox">
                        <img src="~/Content/images/HotelImages/IMG_2629.jpg" alt="" class="img-responsive">
                        <div class="overlay">
                            <span class="expand lardge">+</span>
                            <span class="close-overlay hidden">x</span>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-3 branch-gd-main">
                <div class="branch-gd went-branc">
                    <a href="~/Content/images/HotelImages/IMG_2658-Pano.jpg" rel="title" class="b-link-stripe b-animate-go  thickbox">
                        <img src="~/Content/images/HotelImages/IMG_2658-Pano.jpg" alt="" class="img-responsive">
                        <div class="overlay">
                            <span class="expand">+</span>
                            <span class="close-overlay hidden">x</span>
                        </div>
                    </a>
                </div>
                <div class="branch-gd went-branc">
                    <a href="~/Content/images/HotelImages/IMG_2676-Pano.jpg" rel="title" class="b-link-stripe b-animate-go  thickbox">
                        <img src="~/Content/images/HotelImages/IMG_2676-Pano.jpg" alt="" class="img-responsive">
                        <div class="overlay">
                            <span class="expand">+</span>
                            <span class="close-overlay hidden">x</span>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-3 branch-gd-main">
                <div class="branch-gd">
                    <a href="~/Content/images/HotelImages/IMG_2681.jpg" rel="title" class="b-link-stripe b-animate-go  thickbox">
                        <img src="~/Content/images/HotelImages/IMG_2681.jpg" alt="" class="img-responsive">
                        <div class="overlay">
                            <span class="expand">+</span>
                            <span class="close-overlay hidden">x</span>
                        </div>
                    </a>
                </div>
                <div class="branch-gd">
                    <a href="~/Content/images/HotelImages/IMG_2685.jpg" rel="title" class="b-link-stripe b-animate-go  thickbox">
                        <img src="~/Content/images/HotelImages/IMG_2685.jpg" alt="" class="img-responsive">
                        <div class="overlay">
                            <span class="expand">+</span>
                            <span class="close-overlay hidden">x</span>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-3 branch-gd-main">
                <div class="branch-gd went-branc2">
                    <a href="~/Content/images/HotelImages/IMG_2645.jpg" rel="title" class="b-link-stripe b-animate-go  thickbox">
                        <img src="~/Content/images/HotelImages/IMG_2645.jpg" alt="" class="img-responsive">
                        <div class="overlay">
                            <span class="expand lardge">+</span>
                            <span class="close-overlay hidden">x</span>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <div class="clearfix"> </div>
    </div>
</div>
<!--branches end here-->
<!--homegrids start here-->
<div class="home-block">
    <div class="container">
        <div class="home-main">
            <div class="home-top">
                <h3>Thông tin mới</h3>
            </div>
            <div class="home-bottom  wow bounceInLeft" data-wow-delay="0.3s">
                <div class="col-md-4 home-grid">
                    <div class="item item-type-move">
                        <a class="item-hover" href="single.html">
                            <div class="item-info">
                                <div class="headline">
                                    Our Rooms
                                    <div class="line"> </div>
                                </div>
                                <div class="date">February 29, 2016</div>
                            </div>
                            <div class="mask"> </div>
                        </a>
                        <div class="item-img">
                            <img src="~/Content/images/b7.jpg" class="img-responsive" alt="">
                        </div>
                    </div>

                </div>
                <div class="col-md-4 home-grid">
                    <div class="item item-type-move">
                        <a class="item-hover" href="single.html">
                            <div class="item-info">
                                <div class="headline">
                                    Our Rooms
                                    <div class="line"> </div>
                                </div>
                                <div class="date">February 29, 2016</div>
                            </div>
                            <div class="mask"> </div>
                        </a>
                        <div class="item-img">
                            <img src="~/Content/images/b8.jpg" class="img-responsive" alt="">
                        </div>
                    </div>
                </div>
                <div class="col-md-4 home-grid">
                    <div class="item item-type-move">
                        <a class="item-hover" href="single.html">
                            <div class="item-info">
                                <div class="headline">
                                    Our Rooms
                                    <div class="line"> </div>
                                </div>
                                <div class="date">February 29, 2016</div>
                            </div>
                            <div class="mask"> </div>
                        </a>
                        <div class="item-img">
                            <img src="~/Content/images/b9.jpg" class="img-responsive" alt="">
                        </div>
                    </div>
                </div>
                <div class="clearfix"> </div>
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
</div>
<!--home grid end here-->


<!--gallery end here-->
@section LocalStyles{
    <link href="~/Content/css/chocolat.css" rel="stylesheet" />
}

@section LocalScripts{
    <script src="~/Scripts/common/jquery.chocolat.js"></script>
    <script type="text/javascript" charset="utf-8">
		$(function() {
		    $('.branches .branch-btm a').Chocolat();
		});
    </script>
}

