<!--footer start here-->
<div class="footer">
    <div class="container">
        <div class="footer-main">
            <div class="col-md-3 ftr-grid wow zoomIn" data-wow-delay="0.3s">
                <div class="ftr-logo">
                    <img src="~/Content/images/ftr-logo.png" alt="">
                </div>
                <p>Chúng tôi hân hạnh được mang đến những giây phút tuyệt vời nhất cho bạn.</p>
            </div>
            <div class="col-md-3 ftr-grid ftr-mid wow zoomIn" data-wow-delay="0.3s">
                <h3>Địa chỉ</h3>
                <span class="ftr-line flm"> </span>
                <p>41 Dương Khuê</p>
                <p>Phường Mỹ An, Quận Ngũ Hành Sơn</p>
                <p>Tp. Đà Nẵng </p>
                <p>0905 040507</p>

            </div>
            <div class="col-md-3 ftr-grid ftr-rit wow zoomIn" data-wow-delay="0.3s">
                <h3>Liên hệ</h3>
                <form>
                    <input type="text" value="Email" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Email';}">
                    <input type="submit" value="Gửi" />
                </form>
                <ul class="ftr-icons">
                    <li><a href="#"><span class="fa"> </span></a></li>
                    <li><a href="#"><span class="tw"> </span></a></li>
                    <li><a href="#"><span class="link"> </span></a></li>
                    <li><a href="#"><span class="gmail"> </span></a></li>
                </ul>
            </div>
            <div class="col-md-3 ftr-grid ftr-last-gd ftr-rit wow zoomIn" data-wow-delay="0.3s">
                <h3>Liên kết</h3>
                <ul class="ftr-nav">
                    <li>@Html.ActionLink("Trang Chủ", "Index", "Home")</li>
                    <li>@Html.ActionLink("Giới Thiệu", "About", "Home")</li>
                    <li>@Html.ActionLink("Dịch Vụ", "Services", "Home")</li>
                    <li>@Html.ActionLink("Phòng", "Rooms", "Home")</li>
                    <li>@Html.ActionLink("Liên Hệ", "Contact", "Home")</li>
                </ul>
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
</div>
<!--footer end here-->