@using Microsoft.AspNet.Identity

<section class="top">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-3 col-md-2">
                <div class="logo os-tuyendart w3danima">
                    <a href="~/Home/Index"><img style="width:100px;" src="/Content/Images/Logo_TV_2015.png" alt="Company"></a>
                </div>
            </div>
            <div class="col-xs-12 col-sm-5 col-md-6">
                <div class="row os-tuyendart w3danima">
                    <h2 class="slogan">OUR EXPERIENCE DRIVES US FORWARD</h2>
                </div>
            </div>
            <div class="col-md-1"></div>
            <div class="col-xs-12 col-sm-3 col-md-3">
                <div class="search">
                    <div class="bsearch">
                        <form role="search" method="get" class="search-form" action="~/Home/Search">
                            <input type="search" class="input-sm" maxlength="64" placeholder="Tìm kiếm …" value=@ViewBag.SearchString name="keyword" title="Tìm kiếm">
                            <button type="submit" class="btn btn-primary btn-sm">Tìm kiếm</button>
                        </form>
                        <br clear="all">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="sidebar-sticky" style="display: block; height: 43px; width: auto; margin: auto; position: relative; float: none; left: auto; right: auto; top: auto; bottom: auto; vertical-align: top;">
    <section class="nav" id="menu" style="width: 1349px; top: 0px; bottom: auto; left: 0px; right: auto; position: absolute;">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="navbar">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                        </div>
                        <div class="collapse navbar-collapse">
                            <ul class="nav navbar-nav">
                                <li class="active "><a href="~/Home/Index">Trang chủ </a></li>
                                <li class="dropdown ">
                                    <a href="~/Home/About" class="dropdown-toggle" data-toggle="dropdown">Giới thiệu <b class="caret"></b></a>
                                    <ul class="dropdown-menu">
                                        <li class=""><a href="#">Tổng quan công ty</a></li>
                                        <li class=""><a href="#">Cán bộ chủ chốt</a></li>
                                        <li class=""><a href="#">Cơ cấu tổ chức</a></li>
                                        <li class=""><a href="#">Thư đánh giá</a></li>
                                        <li class=""><a href="#">Khách hàng và Đối tác</a></li>
                                        <li class=""><a href="#">Chứng Chỉ ISO</a></li>
                                        <li class=""><a href="#">Chính sách an toàn sức khỏe - nghề nghiệp và môi trường</a></li>
                                        <li class=""><a href="#">Chính sách nhân sự</a></li>
                                        <li class=""><a href="#">Năng lực thiết bị thi công</a></li>
                                        <li class=""><a href="#">Những cải tiến trong cơ cấu tổ chức</a></li>
                                    </ul>
                                </li>
                                <li class="dropdown "><a href="~/News/" class="dropdown-toggle" data-toggle="dropdown">Tin tức <b class="caret"></b></a>
                                    <ul class="dropdown-menu">
                                        <li class=""><a href="/News/Index">Tin Công Ty</a></li>
                                        <li class=""><a href="#">Tin Công Trình</a></li>
                                        <li class=""><a href="#">Tin Đoàn thể</a></li>
                                        <li class=""><a href="#">Tin Thị Trường</a></li>
                                        <li class=""><a href="#">Xem tất cả</a></li>
                                    </ul>
                                </li>
                                <li class="dropdown mega-dropdown">
                                    <a href="~/Project/Index" class="dropdown-toggle" data-toggle="dropdown">Dự án <b class="caret"></b></a>
                                    <ul class="dropdown-menu mega-dropdown-menu row">
                                        <li class="col-sm-3">
                                            <ul>
                                                <li class="dropdown-header">Theo Dự Án</li>
                                                <li class="mn_custom_sub">@Html.ActionLink("Thiết kế và thi công", "GetProjectByType", "Project", new { type = (int)Portal.Infractructure.Utility.Define.ProjectType.DesignAndConstruction },null)</li>
                                                <li class="mn_custom_sub">@Html.ActionLink("Dân dụng", "GetProjectByType", "Project", new { type = (int)Portal.Infractructure.Utility.Define.ProjectType.CivilEngineering }, null)</li>
                                                <li class="mn_custom_sub">@Html.ActionLink("Công nghiệp", "GetProjectByType", "Project", new { type = (int)Portal.Infractructure.Utility.Define.ProjectType.Industry }, null)</li>
                                                <li class="mn_custom_sub">@Html.ActionLink("Hạ tầng", "GetProjectByType", "Project", new { type = (int)Portal.Infractructure.Utility.Define.ProjectType.Infrastructure }, null)</li>
                                            </ul>
                                        </li>
                                        <li class="col-sm-3">
                                            <ul>
                                                <li class="dropdown-header">Theo Thời Gian</li>
                                                <li class="mn_custom_sub"><a href="#">2016</a></li>
                                                <li class="mn_custom_sub"><a href="#">2015</a></li>
                                                <li class="mn_custom_sub"><a href="#">2014</a></li>
                                                <li class="mn_custom_sub"><a href="#">2013</a></li>
                                                <li class="mn_custom_sub"><a href="#">2012</a></li>
                                                <li class="mn_custom_sub" style="display: none;"><a href="#">2011</a></li>
                                                <li class="mn_custom_sub" style="display: none;"><a href="#">2010</a></li>
                                                <li class="mn_custom_sub" style="display: none;"><a href="#">2009</a></li>
                                                <li class="mn_custom_sub" style="display: none;"><a href="#">2008</a></li>
                                                <li class="mn_custom_sub" style="display: none;"><a href="#">2007</a></li>
                                                <li class="mn_custom_sub" style="display: none;"><a href="#">2006</a></li>
                                                <li class="mn_custom_sub" style="display: none;"><a href="#">2005</a></li>
                                                <li class="mn_custom_sub" style="display: none;"><a href="#">2004</a></li>
                                                <li class="mn_custom_sub" style="display: none;"><a href="#">2003</a></li>
                                                <li class="mn_custom_sub"><a href="javascript:void(0);">Xem thêm...</a></li>
                                            </ul>
                                        </li>
                                        <li class="col-sm-3">
                                            <ul>
                                                <li class="dropdown-header">Theo Vị Trí</li>
                                                <li class="mn_custom_sub">@Html.ActionLink("Miền Bắc", "GetProjectByRegion", "Project", new { region = (int)Portal.Infractructure.Utility.Define.Region.North }, null)</li>
                                                <li class="mn_custom_sub">@Html.ActionLink("Miền Trung", "GetProjectByRegion", "Project", new { region = (int)Portal.Infractructure.Utility.Define.Region.Central }, null)</li>
                                                <li class="mn_custom_sub">@Html.ActionLink("Miền Name", "GetProjectByRegion", "Project", new { region = (int)Portal.Infractructure.Utility.Define.Region.South }, null)</li>
                                                <li class="mn_custom_sub">@Html.ActionLink("Nước ngoài", "GetProjectByRegion", "Project", new { region = (int)Portal.Infractructure.Utility.Define.Region.Foreign }, null)</li>
                                            </ul>
                                        </li>
                                        <li class="col-sm-3">
                                            <ul>
                                                <li class="dropdown-header">Theo tiến độ</li>
                                                <li class="mn_custom_sub">@Html.ActionLink("Đã thi công", "GetProjectByProgressStatus", "Project", new { progressStatus = (int)Portal.Infractructure.Utility.Define.ProgressStatus.Completed }, null)</li>
                                                <li class="mn_custom_sub">@Html.ActionLink("Đang thi công", "GetProjectByProgressStatus", "Project", new { progressStatus = (int)Portal.Infractructure.Utility.Define.ProgressStatus.InProgress }, null)</li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                                <li class=" "><a href="#">Tuyển dụng </a></li>
                                <li class=" "><a href="/Home/About">Liên hệ </a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
