<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script>(function (html) { html.className = html.className.replace(/\bno-js\b/, 'js') })(document.documentElement);</script>
    <title>HTK – Our Experience drives us forward</title>
    <script type="text/javascript">
        window._wpemojiSettings = { "baseUrl": "https:\/\/s.w.org\/images\/core\/emoji\/72x72\/", "ext": ".png", "source": { "concatemoji": "http:\/\/www.coteccons.vn\/includes\/js\/wp-emoji-release.min.js?ver=4.4.2" } };
        !function (a, b, c) { function d(a) { var c, d = b.createElement("canvas"), e = d.getContext && d.getContext("2d"), f = String.fromCharCode; return e && e.fillText ? (e.textBaseline = "top", e.font = "600 32px Arial", "flag" === a ? (e.fillText(f(55356, 56806, 55356, 56826), 0, 0), d.toDataURL().length > 3e3) : "diversity" === a ? (e.fillText(f(55356, 57221), 0, 0), c = e.getImageData(16, 16, 1, 1).data.toString(), e.fillText(f(55356, 57221, 55356, 57343), 0, 0), c !== e.getImageData(16, 16, 1, 1).data.toString()) : ("simple" === a ? e.fillText(f(55357, 56835), 0, 0) : e.fillText(f(55356, 57135), 0, 0), 0 !== e.getImageData(16, 16, 1, 1).data[0])) : !1 } function e(a) { var c = b.createElement("script"); c.src = a, c.type = "text/javascript", b.getElementsByTagName("head")[0].appendChild(c) } var f, g; c.supports = { simple: d("simple"), flag: d("flag"), unicode8: d("unicode8"), diversity: d("diversity") }, c.DOMReady = !1, c.readyCallback = function () { c.DOMReady = !0 }, c.supports.simple && c.supports.flag && c.supports.unicode8 && c.supports.diversity || (g = function () { c.readyCallback() }, b.addEventListener ? (b.addEventListener("DOMContentLoaded", g, !1), a.addEventListener("load", g, !1)) : (a.attachEvent("onload", g), b.attachEvent("onreadystatechange", function () { "complete" === b.readyState && c.readyCallback() })), f = c.source || {}, f.concatemoji ? e(f.concatemoji) : f.wpemoji && f.twemoji && (e(f.twemoji), e(f.wpemoji))) }(window, document, window._wpemojiSettings);
    </script>
    <script src="~/Scripts/home/wp-emoji-release.min.js"></script>
    <style type="text/css">
        img.wp-smiley,
        img.emoji {
            display: inline !important;
            border: none !important;
            box-shadow: none !important;
            height: 1em !important;
            width: 1em !important;
            margin: 0 .07em !important;
            vertical-align: -0.1em !important;
            background: none !important;
            padding: 0 !important;
        }
    </style>

    <link href="~/Content/common/frontend.css" rel="stylesheet" />
    <link href="~/Content/home/styles.css" rel="stylesheet" />

    <!--[if lt IE 10]>
    <link rel='stylesheet' id='cotec-ie-css'  href='~/Content/common/ie.css' type='text/css' media='all' />
    <![endif]-->
    <!--[if lt IE 9]>
    <link rel='stylesheet' id='cotec-ie8-css'  href='~/Content/common/ie8.css' type='text/css' media='all' />
    <![endif]-->
    <!--[if lt IE 8]>
    <link rel='stylesheet' id='cotec-ie7-css'  href='~/Content/common/ie7.css' type='text/css' media='all' />
    <![endif]-->

    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/home/jquery-migrate.min.js"></script>
    <script src="~/Scripts/home/front.js"></script>
    <script src="~/Scripts/home/chosen.jquery.min.js"></script>
    <!--[if lt IE 9]>
    <script type='text/javascript' src='~/Scripts/common/html5.js'></script>
    <![endif]-->

    <base href=".">
    <link rel="shortcut icon" href="http://www.coteccons.vn/favicon.ico" type="image/x-icon">
    <link rel="icon" href="http://www.coteccons.vn/favicon.ico" type="image/x-icon">
    <link href="~/Content/home/main-layout.css" rel="stylesheet" />
    <link href="~/Content/common/custom.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/common/owl.carousel.css" rel="stylesheet" />
    <link href="~/Content/common/owl.theme.css" rel="stylesheet" />

    <!--[if lt IE 9]>
    <script src="~/Scripts/common/html5shiv.min.js"></script>
    <script src="~/Scripts/respond.min.js"></script>
    <![endif]-->

</head>
<body>
    @RenderPage("_HeaderPartial.cshtml")
    @RenderBody()
    @RenderPage("_FooterPartial.cshtml")

    @RenderSection("LocalStyles",required:false)
    <script src="~/Scripts/home/jquery.form.min.js"></script>

    <script type="text/javascript">
        /* <![CDATA[ */
        var _wpcf7 = { "loaderUrl": "http:\/\/localhost:2255\/Content\/Images\/ajax-loader.gif", "recaptchaEmpty": "Please verify that you are not a robot.", "sending": "\u0110ang g\u1eedi ..." };
        /* ]]> */
    </script>

    <script src="~/Scripts/home/scripts.js"></script>
    <script src="~/Scripts/home/skip-link-focus-fix.js"></script>
    <script src="~/Scripts/home/wp-embed.min.js"></script>

    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/home/w3danima.js"></script>
    <script src="~/Scripts/home/owl.carousel.js"></script>
    <script src="~/Scripts/home/jquerys.min.js"></script>
    <script src="~/Scripts/home/jquery-ui.js"></script>
    <script src="~/Scripts/home/jquery.slimscroll.min.js"></script>
    <script src="~/Scripts/home/jquery.hc-sticky.js"></script>
    @RenderSection("LocalScripts",required:false)

</body>
</html>
