<!DOCTYPE html>
<html>
<head>
    <title>Hotel</title>
    <!-- Render styles -->
    @Styles.Render("~/Content/bootstrap")
    @Styles.Render("~/Content/css")
    <!-- Custom Theme files -->
    <link href="~/Content/css/style.css" rel="stylesheet" type="text/css" media="all" />
    <link href="~/Content/css/style1.css" rel="stylesheet" type="text/css" media="all" />
    <!-- Custom Theme files -->

    <!-- Render scripts -->
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/bootstrap")

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="" />
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!--Google Fonts-->
    <link href='//fonts.googleapis.com/css?family=Hind:400,300' rel='stylesheet' type='text/css'>
    <link href='//fonts.googleapis.com/css?family=Aladin' rel='stylesheet' type='text/css'>
    <!--google fonts-->
    <!-- animated-css -->
    <link href="~/Content/css/animate.css" rel="stylesheet" type="text/css" media="all">
    <script src="~/Scripts/common/wow.min.js"></script>
    <script>
        new WOW().init();
    </script>
    <!-- animated-css -->
    <script src="~/Scripts/common/modernizr.js"></script>
    <script>
        $(document).ready(function () {
            if (Modernizr.touch) {
                // show the close overlay button
                $(".close-overlay").removeClass("hidden");
                // handle the adding of hover class when clicked
                $(".branch-gd").click(function (e) {
                    if (!$(this).hasClass("hover")) {
                        $(this).addClass("hover");
                    }
                });
                // handle the closing of the overlay
                $(".close-overlay").click(function (e) {
                    e.preventDefault();
                    e.stopPropagation();
                    if ($(this).closest(".branch-gd").hasClass("hover")) {
                        $(this).closest(".branch-gd").removeClass("hover");
                    }
                });
            } else {
                // handle the mouseenter functionality
                $(".branch-gd").mouseenter(function () {
                    $(this).addClass("hover");
                })
                // handle the mouseleave functionality
                .mouseleave(function () {
                    $(this).removeClass("hover");
                });
            }
        });
    </script>

</head>
<body>
    @RenderPage("_HeaderPartial.cshtml")
    @RenderBody()
    @RenderPage("_FooterPartial.cshtml")
    @RenderSection("LocalStyles",required:false)
    @RenderSection("LocalScripts",required:false)
</body>
</html>
